---
import Button from "../components/Button.vue";
import Layout from "../layouts/Layout.astro";
import ebayLogo from "../images/Brand=ebay.png";
---

<Layout title="Demo Page">
  <h1>Demo Page</h1>
  <p>This is a demo page.</p>
  <img src={ebayLogo.src} alt="Astro Logo" />

  <Button/>
</Layout>
